/* ---------------------------------------

				FILTERS BEGIN

-----------------------------------------*/
.modo_monocromatico {
  filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
  -moz-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%) !important;
  -o-filter: grayscale(100%) !important;
  transition: all 2s ease !important;
  -webkit-transition: all 2s ease !important;
  -moz-transition: all 2s ease !important;
  -ms-transition: all 2s ease !important;
  -o-transition: all 2s ease !important;
}
/* ---------------------------------------
				FILTERS END
-----------------------------------------*/
